

.jumbotron{
    /* padding: 2rem 1rem; */
    padding-top: 7rem;
    background-color: #e2edff;
}
section{
    padding-top: 6rem;
}
.card-text{
    color: aquamarine;
    font-style: italic;
}
/* email : sholymmjack@gmail.com */
/* pass : sholymjack */
/* akun pertama */
/* host : ftpupload.net	 */
/* username : epiz_28182861 */
/* port : 21 */
/* pass : fc2XbGGul2WN */
